.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00ffc1;
  margin: 1em 0;
  padding: 0;
}

.container > div {
  display: flex;
  flex-direction: column;
}

p:nth-child(2) {
  margin-top: 0px;
}